@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Dancing+Script:wght@700&family=Lato&display=swap');

*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: black;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
};

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* .text-purple {
    color: #07A0C3;
} */

.text-bluegreen {
    color: #07A0C3;
}

section:nth-child(even){
    background-color:#f8f8f8;
}

.section-title {
    margin-bottom: 20px;
}

/* NAVIGATION BAR */
li {
    list-style-type: none;
}

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link-list {
    display: flex;
}

.nav-link-anchor {
    margin: 0 12px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.nav-link-anchor-primary {
    background-color: #07A0C3;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav-link-anchor-primary:hover{
    background-color: #5d3eff;
}

.personal-logo {
    font-size: 24px;
    color: #07a0c3;
    margin: 0 12px;
    font-weight: bold;
}

/* ABOUT ME */
#about-me {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

.about-me-info {
    display: flex;
    flex-direction: column;

}

.about-me-info-para {
    font-size: 20px;
    margin-bottom: 28px;
}

.about-me-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.about-me-picture-mask {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,0.16);
    margin-bottom: 28px;
}

.about-me-info-title {
    margin-bottom: 16px;
}

.about-me-picture {
    width: 100px;
    transform: scale(2.1) translate(2px, 15px);
  
}

.about-me-link {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 0 12px;
}

/* TECH - STACK */

.language-img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

.language:hover .language-img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language-list {
    display: flex;
    width: 100%;
}

.language {
    width: 33%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language-name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 400ms ease;
    font-size: 20px;
    opacity: 0;
}

.language:hover .language-name {
    transform: scale(1);
    opacity: 1;
}

/* PROJECTS */

.project {
    margin-bottom: 100px;
}

.project:last-child{
    margin-bottom:40px;
}

.project-img {
    width: 100%;
    transition: all 500ms ease;
}

.project-container {
    display: flex;
    box-shadow:0 20px 90px rgba(0,0,0,0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.project-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}

.project:hover .project-container:before {
    opacity: 0.7;
}

.project:hover .project-img {
    transform: scale(1.07);
    filter: blur(5px);
}


.project:hover .project-description {
    opacity: 1;
    transform: translateY(-50%);
}

.project-list {
    padding-top: 25px;
}
.project-description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project-description-title,
.project-description-sub-title,
.project-description-para,
.project-description-link {
    text-align: left;
    color: #fff;
}

.project-description-link {
    font-size: 20px;
    margin-right: 16px;
}

.githubproj {
   color: white;
   font-size: 16px;
   margin-right:10px;
}

/* FOOTER */

footer {
    background-color: #242424;
    height: 150px;
}

.footer-row {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.footer-social-link {
color: #fff;
font-size: 24px;
margin-bottom:16px;
}

.credit{
    color:grey;
}

.creditlink {
    color:#07a0c3;
}

.footer-social-list {
    margin-top: 70px;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
}

